<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Nha's Restaurant</h1>
                    <h3>Making people happy through food</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline">
                        <li>
                            <a href="/menu" class="btn btn-secondary-outline btn-lg"><span class="main-label">Menu</span></a>
                        </li>
                        <li>
                            <a href="#contact" class="btn btn-secondary-outline btn-lg"><span class="main-label">Contact Us</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->
<a name="contact"></a>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <address>
                    <strong>Nha's Restaurant.</strong><br>
                    76A Le Lai, Ben Thanh<br>
                    District 1, Ho Chi Minh City, Vietnam<br>
                    <abbr title="Phone">P:</abbr> (84) 888-7890
                </address>
            </div>
            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5318247091705!2d106.69217761474414!3d10.770519362247972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3e873319fd%3A0x709aefbe60525737!2zQUIgVG93ZXIsIDc2IEzDqiBMYWksIELhur9uIFRow6BuaCwgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1449379630660" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->