.content-container {
    margin-top: 50px;
    h1 {
        margin-bottom: 20px;
        padding-top: 20px;
    }
    .row {
        margin-top: 20px;
        margin-bottom: 0;
        &:last-child {
            margin-bottom: 20px;
        }
    }
    .card {
        .card-block {
            .card-img-top {
                width: 100%;
            }
        }
        .order-bar {
            background-color: #f8f8f8;
            .price {
                font-weight: bold;
            }
        }
    }
}

.menu-container {
    .nav-tabs {
        @media(max-width: 768px) {
            .form-inline {
                float: left !important;
            }
        }
    }
}
